.partners_block_inner {
	position: relative;
	margin-bottom: 30px;
}
.partners_block_inner::after {
	content: '';
	position: absolute;
	bottom: -3px;
	border-bottom: 3px solid #e1dcd9;
	left: 0;
	right: 1.6%;
}
.partners_block_inner > div {
    clear: both;
    margin: 30px 0 16px -3.33%;
    overflow: hidden;
    padding-bottom: 20px;
}
.partners_block_inner + .pager {
	margin-right: 2%;
}
.partners_item {
	background: #fff none repeat scroll 0 0 / cover ;
	float: left;
	margin-left: 3.33%;
	padding: 15px 20px 41px;
	position: relative;
	text-align: left;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 29.5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
.partners_item:hover {
	-webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.19);
	-moz-box-shadow:    0px 3px 15px 0px rgba(50, 50, 50, 0.19);
	box-shadow:         0px 3px 15px 0px rgba(50, 50, 50, 0.19);
}
.partners_item .img__box {
	height: 175px;
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 5px;
}
.partners_item .img__box img {
	position: relative;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	-o-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	max-width: 186px;
}
.partners_item .title {
	font-family: "pf_din_text_comp_prolight";
	text-transform: uppercase;
	font-size: 18px;
	color: #60221a;
	border-bottom: 1px solid #60221a;
	display: inline;
	-webkit-transition: border-color 0.3s ease, color 0.3s ease;
	-moz-transition: border-color 0.3s ease, color 0.3s ease;
	-o-transition: border-color 0.3s ease, color 0.3s ease;
	transition: border-color 0.3s ease, color 0.3s ease;
}
.partners_item:hover .title {
	border-color: transparent;
	color: #9a382c;
}
.partners_item dl {
	margin: 20px 0 6px;
}
.partners_item dl dt {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #5d5551;
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	margin-bottom: 19px;
}
.partners_item dl dd {
	display: inline-block;
	width: 46%;
	color: #5d5551;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.partners_item .price {
	position: relative;
	width: 100%;
	font-family: 'pf_din_text_comp_promedium', Arial, sans-serif;
	font-size: 16px;
	color: #5d5551;
}
.partners_item .price::before {
	background: #422e2d none repeat scroll 0 0;
	content: "";
	display: block;
	height: 5px;
	margin-bottom: 4px;
	width: 12px;
}
.accordion {
	position: relative;
	overflow: hidden;
}
.accordion::after {
	content: '';
	background-image: url(../images/lines-1.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
}
.left_nav_block {
	position: relative;
}
.left_nav_block::after {
	content: '';
	background-image: url(../images/lines.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: 1;
}
.accordion .left_nav_block {
	background: url(../images/left_nav_top2.jpg);
	min-height: auto;
	padding: 0;
	position: relative;
}
.accordion .left_nav_block::after {
	content: '';
	background-image: url(../images/lines.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 5px;
}
.accordion .left_nav_block + .left_nav_block {
	background-image: url(../images/left_nav_top3.png);
	background-repeat: no-repeat;
}
.accordion .left_nav_block ul {
	display: none;
	padding: 20px 0;
}
.left_nav .accordion h2 {
	margin: 0 15px;
	padding-bottom: 0;
	background-image: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 25px 0 20px;
	position: relative;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.left_nav .accordion h2 .arrow {
	width: 16px;
	height: 8px;
	position: absolute;
	right: -7px;
	top: 63%;
	margin-top: -4px;
}
.left_nav .accordion h2 .arrow::after,
.left_nav .accordion h2 .arrow::before {
	content: '';
	position: absolute;
	background-color: #fff;
	-webkit-transition: opacity 0.3s ease, transform 0.3s ease;
	-moz-transition: opacity 0.3s ease, transform 0.3s ease;
	-o-transition: opacity 0.3s ease, transform 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease;
	top: 0;
	height: 2px;
	width: 10px;
}
.left_nav .accordion .left_nav_block.active h2 .arrow::after,
.left_nav .accordion .left_nav_block.active h2 .arrow::before,
.left_nav .accordion h2:hover .arrow::after,
.left_nav .accordion h2:hover .arrow::before {
	opacity: 1;
}
.left_nav .accordion h2 .arrow::after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.left_nav .accordion h2 .arrow::before {
	right: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.left_nav .accordion .left_nav_block.active h2 .arrow::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.left_nav .accordion .left_nav_block.active h2 .arrow::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.left_nav .accordion .left_nav_block.active h2,
.left_nav .accordion h2:hover {
	opacity: 1;
}
.left_nav .accordion h2:after {
	background-image: url(../images/line1.png);
	height: 5px;
	position: absolute;
	bottom: -5px;
	width: 100%;
	left: 0;
	content: "";
}