
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('fonts/pfdintextcomppro-bold-webfont.eot');
    src: url('fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdintextcomppro-bold-webfont.woff2') format('woff2'),
         url('fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.second_nav li a {
    position: relative;
}
.second_nav li:last-child a {
    color: #5a8e35;
    margin-left: 20px;
}
.percent {
    font-family: 'pf_din_text_comp_probold', Arial, sans-serif;
    position: absolute;
    top: -2px;
    left: -20px;
}
.left_nav_block:first-child li:last-child a {
    color: #fd5454;
}
.left_nav_block:first-child li:last-child a span {
    border-color: #fd5454; 
}
.left_nav_block:first-child li:last-child a:hover,
.left_nav_block:first-child > ul > li.active:last-child > a {
    color: #fff;
}
.sale_block {
    margin-bottom: 70px;
    font-size: 0;
}
.sale_item {
    width: 100%;
    height: 114px;
    display: inline-block;
    background: #eae;
    text-align: center;
    line-height: 114px;
    text-decoration: none;
    position: relative;
    background-image: url(../images/sale-bg.jpg);
    background-position: center; 
}
.sale_item:not(:only-of-type) {
    width: 48.78%;
}
.sale_item:not(:only-of-type):first-child {
    margin-right: 9px;
    background-image: url(../images/interior-bg.jpg);
    background-position: center; 
}
.sale_item:not(:only-of-type):last-child {
    margin-left: 9px;
    background-image: url(../images/sale-bg.jpg);
    background-position: center; 
}
.sale_item .sale_overlay {
    background-color: rgba(0,0,0,0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.sale_item:hover .sale_overlay {
    background-color: rgba(0,0,0,0.1);
}
.sale_item span {
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    font-size: 24px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}
.sale_item span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    border-bottom: 1px solid #fff;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
.sale_item:hover span:after {
    border-color: transparent;
}
article p > span {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    color: #60221a;
}

a[data-anchor] {
    cursor: pointer;
    text-decoration: none;    
    border-bottom: 1px dotted #64544e;
}
.product_right {
    float: right;
    width: 247px;
    margin-left: 35px;
}
.product_right .prices_box .old_price {
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    color: #a89f99;
    display: inline-block;
}
.product_right .prices_box .price {
    font-family: 'pf_din_text_comp_promedium', Arial, sans-serif;
    font-size: 42px;
    color: #3f3231;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 7px;
}
.product_right .prices_box p.old_price span {
    background: #ada09a none repeat scroll 0 0;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.product_right .prices_box {
    padding: 8px 0 27px;
}
.product_right .price_cover {
    background: #fff;
    border: 2px solid #45993c;
    text-align: center;
    margin-bottom: 21px;
}
.product_right a.oneclick_link {
    font-size: 12px;
    color: #60221a;
    border-bottom: 1px dotted #6f1c13;
    text-decoration: none;
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}
.product_right a.oneclick_link:hover {
    border-color: transparent;
}
.green_box {
    background: #45993c;
}
.product_right .green_box .btn {
    background: #43b138;
    margin: 11px 0;
}
.payment  {
    margin-bottom: 22px;
}
.payment:after {
    content: "";
    clear: both;
    display: table;
}
.payment > img:first-of-type {
    margin: 0;
}
.payment > img {
    display: block;
    float: left;
    height: 23px;
    margin-left: 5px;
    width: 37px;
}
.markt {
    border: 1px solid #e1dcd9;
    padding: 11px 15px;
}
.markt > div {
    padding-left: 70px;
    position: relative; 
}
.markt > div:after {
    content: '';
    width: 57px;
    height: 46px;
    background-image: url(../images/ya-man.png);
    position: absolute;
    top: 2px;
    left: 3px;
}
.markt > div a {
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    font-size: 18px;
    color: #60221a;
    border-bottom: 1px solid #60221a;
    text-decoration: none;
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    text-transform: uppercase;
}
.markt > div a:hover {
    border-color: transparent;
}
.rate {
    width: 110px;
    height: 14px;
    background: url(../images/star-ya-inactive.png) repeat-x;
    margin: 6px auto 0;
    position: relative;
}
.rate .active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/star-ya.png) repeat-x;
}
.product_left {
    overflow: hidden;
    padding: 20px 0 5px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.prod__left {
    width: 244px;
    position: relative;
    margin-right: 30px;
    float: left;
}
.prod__left::after {
    clear: both;
    content: "";
    display: table;
}
.prod__left .product__gallery {
    height: 246px;
    margin-bottom: 15px;
}
.prod__left .badge_links {
    right: -18px;
    top: -13px;
}
.prod__left .bx-controls {
    display: none;
}
.prod__left .product__gallery {
    position: relative;
    border: 1px solid #f4f1ef;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.product__gallery .item {
    width: 244px;
    height: 246px;
}
.product__gallery .item img {
    height: 246px;
}
.gallery__pager .pager_item {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    width: 75px;
    height: 70px;
    overflow: hidden;
}
.gallery__pager .pager_item img {
    height: 70px;
}
.gallery__pager .pager_item:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(244,241,239,0.64);
    background: rgba(255,255,255,0.6)
}
.gallery__pager .pager_item.slick-current::after,
.gallery__pager .pager_item:hover::after {
    border-color: rgba(244,241,239,1);
    background: rgba(255,255,255,0);
}
.prod__right {
    overflow: hidden;
}
.prod__right .product_info {
    width: auto;
    float: none;
    border-bottom: 1px solid #f4f1ef;
    padding-right: 14px;
    margin-bottom: 20px;
}
.prod__right .product_info::after {
    clear: both;
    content: "";
    display: table;
}
.prod__right .product_info .rating {
    float: left;
}
.stock {
    float: right;
    max-width: 121px;
    text-align: right;
}
.stock [class*="stock_"] {
    padding: 0 13px;
    height: 18px;
    line-height: 17px;
    font-size: 11px;
    position: relative;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
.stock .stock_1 {
    background: #d6e9d4;
    color: #328f28;
    padding-left: 28px;
}
.stock .stock_1::after {
    content: '';
    width: 9px;
    height: 8px;
    background-image: url(../images/check.png);
    position: absolute;
    top: 5px;
    left: 15px;
}
.stock .stock_2 {
    background: #ffebbc;
    color: #5d5551;
    letter-spacing: -0.3px;
    padding-right: 8px;
}
.review {
    float: left;
    margin-left: 13px;
    margin-top: 2px;
}
.prod__left .badge_links li {
    margin-bottom: 3px;
}
.prod__left .badge_links li a {
    width: 40px;
    height: 40px;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.prod__left .badge_links li.badge1 a {
    font-family: Arial;
    line-height: 40px;
    font-size: 12px;
}
.prod__left .badge_links li.badge2 a {
    background: rgba(0, 0, 0, 0) url("../images/badges.png") no-repeat scroll 0 -45px;
}
.prod__left .badge_links li.badge3 a {
    background: rgba(0, 0, 0, 0) url("../images/badges.png") no-repeat scroll 0 -90px;
}
.chars {
    padding: 0 14px 25px 6px;
    border-bottom: 1px solid #f4f1ef;
}
.text__item span {
    font-weight: bold;
}
.text__item {
    letter-spacing: -0.2px;
    margin-bottom: 7px;
}
.js-show + [data-readmore-toggle] {
    border-bottom: 1px dotted #60221a;
    display: inline-block !important;
    letter-spacing: -0.2px;
    margin-top: 7px;
    text-decoration: none;
    width: auto !important;
}
.functionality {
    padding: 12px 0 10px 5px;
}
.functionality .list {
    font-size: 0;
}
.functionality .list li {
    display: inline-block;
    font-size: 11px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
    padding-left: 28px;
    padding-right: 20px;
    vertical-align: top;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.list [class*="icon-"] {
    position: relative;
    padding-left: 23px;
    min-height: 20px;
}
.list [class*="icon-"]:after {
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
}
.icon-pay:after {
    width: 20px;
    height: 16px;
    background-image: url(../images/icon-pay.jpg);
    background-repeat: no-repeat;
}
.icon-work:after {
    width: 21px;
    height: 15px;
    background-image: url(../images/icon-works.jpg);
    background-repeat: no-repeat;
}
.icon-guarantee:after {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-garant.jpg);
    background-repeat: no-repeat;
}
.icon-delevery:after {
    width: 23px;
    height: 13px;
    background-image: url(../images/icon-delivery.jpg);
    background-repeat: no-repeat;
}
.tabs_list {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.tabs_list li {
    background: url('../images/bg_delivery.jpg') 0 0 no-repeat;
    background-size: cover;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    position: relative;
}
.tabs_list li.is-active:after {
    border-color: #5a8e35 transparent transparent;
    border-style: solid;
    border-width: 8px 11.5px 0;
    bottom: -8px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -11.5px;
    position: absolute;
    width: 0;
}
.tabs_list li a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "pf_din_text_comp_proregular";
    font-size: 14px;
    opacity: 1;
    padding: 18px 0;
    position: relative;
    text-transform: uppercase;
}
.tabs_list li.is-active a{
    background: #5a8e35;
    text-decoration: none;
}
.js-tab-cont {
    width: 612px;
    margin-top: 30px;
}
.box_left {
    max-width: 629px;
}
.table__tabs thead tr {
    border-bottom: 2px solid #e1dcd9;
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.table__tabs thead tr th {
    padding: 13px 20px;
    vertical-align: middle;
    width: 50%;
}
.tabs__container .tabs_list li a {
    padding: 12px 0;
}
.tabs__container .js-tab-cont {
    margin-top: 17px;
    width: 100%;
}
.table__tabs tr {
    border-bottom: 1px solid #e1dcd9;
}
.table__tabs tr td {
    height: auto;
    padding: 12px 20px;
}
.tabs__container .product_left {
    background: transparent;
    padding: 0;
    max-width: 618px;
    float: left;
}
.descript {
    margin-top: 15px;
    background: #fff;
    padding: 27px 20px;
    border: 1px solid #e1dcd9;
}
.descript::after {
    content: '';
    clear: both;
    display: table;
}
.acenter {
    text-align: center;
}
.descript .rating {
    margin: 0 auto;
    display: inline-block;
}
.product_left .rating li:first-child,
.product_right .rating li:first-child {
    margin: 0;
}
.reviews {
    margin-top: 12px;
}
.item__review {
    margin-top: 30px;
}
.item__review .rating {
    display: inline-block;
}
.item__review .text {
    position: relative;
    border-bottom: 1px solid #e1dcd9;
    padding: 12px 0;
    margin-bottom: 12px;
}
.item__review .text::after,
.item__review .text::before {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 0;
    height: 0;
    border-style: solid;
}
.item__review .text::after {
    border-width: 7px 9px 0 9px;
    border-color: #e1dcd9 transparent transparent transparent;
    left: 26px;
}
.item__review .text::before {;
    border-width: 5px 8px 0 8px;
    border-color: #f4f1ef transparent transparent transparent;
    left: 27px;
    bottom: -5px;
    z-index: 2;
}
.item__review .author {
    color: #a89f9a;
}
@media screen and (max-width: 1200px) {
    .tabs__container .product_left {
        max-width: 560px;
    }
}
@media screen and (max-width: 1150px) {
    .product_right {
        margin-left: 20px;
    }
    .prod__left {
        margin-right: 25px;
    }
    .product_info {
        padding-bottom: 20px;
    }
    .prod__right .product_info .rating,
    .review,
    .stock {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    .review {
        margin-left: 9px;
    }
    .functionality .list li {
        width: 100%;
    }
    .tabs__container .product_left {
        max-width: 473px;
    }
}
.hidden_protection {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    box-shadow: none !important;
    color: transparent !important;
    height: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 0 !important;
}
.popup.review_form-tab {
    height: 383px;
}
.popup .rating {
    margin: 0 auto 20px;
}



.ya-market {
    margin-bottom: 20px;
    max-width: 886px;
    width: 100%;
    /*height: 55px;*/
    background-color: #fff;
    border: 2px solid #e1dcd9;
    display: inline-block;
    padding: 8px 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
.ya-market::after {
    content: '';
    display: table;
    clear: both;
}
.ya-market .lead {
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    color: #60221a;
    font-size: 22px;
    position: relative; 
    letter-spacing: -0.07px;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}
.ya-market .lead.icons {
    padding-left: 65px;
    width: 42%;
}
.ya-market .lead.icons::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -1px;
    width: 53px;
    height: 43px;
    background-image: url(../images/ya-man.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.ya-market .lead .f_let {
    color: #000;
    position: relative;
    font-family: 'pf_din_text_comp_proregular', Arial, sans-serif;
    letter-spacing: 1.7px;
    display: inline-block;
    vertical-align: middle;
}
.ya-market .lead .f_let::before {
    color: #fe0000;
    content: "Ð¯";
    left: 0;
    position: absolute;
    top: 0;
}
.ya-market .lead .Y_let {
    color: #fec000;
    letter-spacing: 1.7px;
    display: inline-block;
    vertical-align: middle;
}
.ya-market .rate {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: 0;
}

.ya-market .btn {
    margin: 0;
    display: inline-block;
    max-width: 134px;
    font-size: 11px;
    text-transform: none;
    width: 100%;
    vertical-align: middle;
    margin: 0 0 0 16px;
}
.ya-market .btn span {
    font-family: Verdana, Arial, sans-serif;
    padding: 0;
}
.main_slider {
    height: 407px;
}
@media screen and (max-width: 1170px) {
    .ya-market {
        text-align: center;
    }
    .ya-market .lead {
        width: 74%;
        margin-left: 20px;
    }
    .ya-market .lead.icons {
        width: auto;
        margin-bottom: 15px;
        margin-left: 0;
    }
}